.leftbar__container {
  grid-area: sidebar-left;
  position: sticky;
  top: 0;
}
.leftbar__image-container {
  /* background-color: aqua; */
  margin-left: -10rem;
  height: 100%;
}
@media (max-width: 640px) {
  .leftbar__image-container {
    margin-left: -25rem;
  }
}
