.content-container {
  display: flex;
  margin-left: 2em;
  justify-content: center;
}
.content {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  color: white;
  padding: 1em;
  word-wrap: break-word;
}
.content h2 {
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: 700;
  font-family: Helvetica;
}
.toggleBar {
  display: flex;
  margin-top: 1em;
}
.toggleBar > * {
  align-self: center;
}
.toggleBar-btn > span {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: Helvetica;
}
.toggleBar-btn > span:hover {
  opacity: 0.8;
}
.toggleBar-btn_active {
  font-weight: bold;
}
.toggleBar-btn_inactive {
  text-decoration: underline rgb(196, 195, 195);
}
.card-container {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}
@media (max-width: 640px) {
  .content-container {
    margin-left: 0;
    width: 100%;
  }
  .content {
    width: 100%;
    margin-left: 2.5em;
  }
  .toggleBar-btn > span {
    font-size: 2vh;
  }
  .card-container {
    margin-bottom: 5em;
  }
}
