.rightbar-container {
  position: absolute;
  background-color: #232526;
  top: 1em;
  right: 0;
  padding: 1em;
  transition: right 1s linear;
  width: 150px;
  height: 160px;
  border-radius: 1em;
  z-index: 99;
}
.rightbar-title {
  font-size: 1rem;
  font-weight: 700;
  font-family: Helvetica;
  line-height: 1.5rem;
}
.rightbar-title > * {
  font-size: 1rem;
  font-weight: 400;
  font-family: Helvetica;
}
.rightbar-btn {
  display: flex;
  width: 100%;
  margin-top: 1em;
  justify-content: center;
}
.rightbar-link {
  text-decoration: none;
  color: white;
}
@media (max-width: 990px) {
  .rightbar-container {
    right: -5rem;
    transform: translateX(10%);
  }
}
@media (max-width: 810px) {
  .rightbar-container {
    right: -8rem;
    transform: translateX(10%);
  }
}
@media (max-width: 640px) {
  .rightbar-container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border-radius: 0;
    bottom: 0;
    left: 0;
    top: auto;
    right: auto;
    transform: translateX(0);
  }
  .rightbar-container > * {
    align-self: center;
  }
  .rightbar-title {
    width: 50%;
  }
  .rightbar-btn {
    margin-top: 0;
    width: 50%;
    justify-content: end;
  }
}
