.main {
  display: grid;
  grid-template-areas: "leftbar main rightbar";
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 3fr;
  padding: 0;
  height: 100vh;
  /* background-color: black; */
  /* display: flex;
  flex-direction: column; */
}
