.main__container {
  position: sticky;
  top: 0;
  height: 100vh;
  /* background-color: rgb(150, 196, 154); */
  background-color: black;
  /* overflow: hidden; */
  overflow-y: scroll;
  overflow-x: hidden;
  background-image: url("/Earth.svg");
  background-position: -6rem;
  background-repeat: no-repeat;
  /* background-color: black; */
}
.main {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
  grid-template-areas: "auto content content"; */
}
@media (max-width: 640px) {
  .main__container {
    background-position: -11rem;
  }
  /* .main {
    grid-template-columns: 30% 70%;
    grid-template-rows: 100px 100vh 100px;
    grid-template-areas: "header header header" "sidebar-left content content" "sidebar-right sidebar-right sidebar-right";
  } */
}
