.main {
  position: fixed;
  display: grid;
  grid-template-areas: "leftbar main rightbar";
  grid-template-columns: auto 3fr auto;
  grid-template-rows: 1fr;
  padding: 0;
  height: 100vh;
  margin-top: 95px;
}
@media (max-width: 640px) {
  .main {
    grid-template-areas: "leftbar main main" "rightbar rightbar rightbar";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 0.1fr;
    /* height: auto; */
  }
}
