.header__wrapper {
  grid-area: header;
  background-color: black;
  position: relative;
}
.header__container {
  display: flex;
  padding-left: 1em;
  padding-top: 0.5em;
  flex-direction: column;
  padding-bottom: 1rem;
}

.header__title {
  color: #f86600;
  font-family: "Passion One";
  font-size: 2em;
}
.header_description {
  color: white;
  line-height: 1.5rem;
  font-size: 1em;
  font-family: Helvetica;
}
@media (max-width: 640px) {
  .header__wrapper {
  }
}
